
.container{
  font-family: 'Roboto', sans-serif;
  margin: 0 4rem 0 4rem;
  text-align: center;
 
}

.selectMoney{
  width: 10rem;
  height: 2rem;
}

.selectMoney option{
  font-size: 14px;
}

.header-div{
  background-color: #1DBE95;
  padding: 1rem 0;
}

.body{
  display: grid;
  grid-template-columns: 5fr 1fr;
  margin: 40px 0 0 0;

}

.product-card-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 50px;
}
